*{
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: coral;
}
nav a{
  margin-right: 50px;
  color: white;
  text-decoration: none;
}
.list-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list-wrapper .contact-item{
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid coral;
  border-radius: 5px;
}
.form-zone{
  padding: 100px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.form-zone form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-zone form input {
  margin: 5px;
}
.form-zone form button:active {
  transform: scale(0.96);
}